
.card {
    margin-bottom: 30px;
    height: 340px;

    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.11);
    padding: 20px;

    .card-body {
        padding-top: 0;
    }

    h3 {
        font-family: Lato;	
        font-size: 18px;	
        font-weight: 700;	
        letter-spacing: -0.53px;	
        line-height: 22px;	
        text-align: center;

        a {
            color: #DA602D;	
        }
    }

    h6 {
        color: #1A2539;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.41px;
        line-height: 17px;
        text-align: center;
    }

    .topics {
        max-height: 49px;
        overflow: hidden;
        text-align: center;
        a {
            text-transform: capitalize;
            background-color: #DFE9F3;
            color: #1A2539;
            font-size: 10px;
            height: 19px;
            border-radius: 3px;
            display: inline-block;
            padding: 5px;
            line-height: 10px;
            margin-bottom: 3px;
            margin-right: 3px;
        }
    }

    p {
        text-align: center;
    }

    .card-text {
        line-height: 1.1em;
        max-height: 3.8em;
        overflow: hidden;
    }
}


.full-card {
    width: 100%;

    h3, h6, .topics {
        text-align: left;
    }
}