
.footer {
    background-color: #010728;
    margin-top: 20px;
    color: #FFFFFF;
    height: 80px;
    padding-top: 26px;
    font-size: 14px;

    a {
        color: white;
        text-decoration: underline;
    }
}