@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./_variables.scss";
@import "./_side_nav.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container-fluid {
  padding: 0px;
  padding-top: 50px;

  .container {
    padding-top: 10px;
  }
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

th {
  text-align: left;
}

#menu-content {
  li {
    padding-left: 10px;
  }
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.card {
  margin-bottom: 20px;

  .card-header {
    @extend .text-white;

    a {
      @extend .text-white;
    }
  }

  .card-body {
    a {
      color: #e83e8c;
    }
  }
}

.page-header {
  overflow: auto;
}
