<div class="col-12 <%= if(!full) { %>col-sm-6 col-md-4 col-xl-3<% } else { %> full-card <% } %>">
  <div class="card">
    <div class="">
      <h3 class="text-center">
        <a href="<%= toolPath({tool_id: tool.ID}) %>">
          <%= capitalize(tool.Name) %>
        </a>
      </h3>
      <h6 class="text-center"><%= tool.NameWithOwner %></h6>
    </div>
    <div class="card-body">      
  
      <p class="card-text">
        <%= markdown(tool.Description.String) %>
      </p>
      
      <div class="topics">
        <%= topicLinks(tool.Topics) %>
      </div>
    </div>

    <div class="numbers row">
        <div class="col-4 text-center">
          <i class="fas fa-code-branch"></i>
          <%= tool.Forks %>
        </div>
        <div class="col-4 text-center">
          <i class="fas fa-eye"></i>
          <%= tool.Watchers %>
        </div>
        <div class="col-4 text-center">
          <i class="fas fa-star"></i>
          <%= tool.Stars %>
        </div>
    </div>
  </div>
</div>

