<div class="page-header">
  <%= if (params["topic"]) { %>
    <h1><code><%= params["topic"] %></code> Tools</h1>
  <% } else { %>
    <h1><code>All</code> Tools</h1>
  <% } %>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Stars</th>
      <th scope="col">URL</th>
      <th scope="col">Topics</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>

    <%= for (tool) in tools { %>
      <tr>
        <td><a href="<%= toolPath({tool_id: tool.ID}) %>"><%= tool.Name %></a></td>
        <td><%= tool.Stars %></td>
        <td><a href="<%= tool.URL %>" target="_blank"><%= tool.URL %></a></td>
        <td>
          <%= loop("topic", tool.Topics) { %>
            <a href="<%= toolsPath({topic: topic})%>"><%= topic %></a>
          <% } %>
        </td>
      </tr>
    <% } %>

  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
