<%= contentFor("indicator-bar") { %>
    <div class="pre-header">
      <div class="tool-count float-left">
        <a class="back-link" href="/"><i class="fas fa-arrow-left"></i> Back</a>
      </div>
    
      <div class="dropdown float-right"></div>
    </div>
<% }%>

<div class="pt-2 mb-3 details">
  
  <div class="show-top-section p-3 rounded border mb-3">
    <div class="row">
      <div class="col-12">
        <h3 class="">
          <%= capitalize(tool.Name) %>
        </h3>
        <h6 class="">
          <a href="<%= tool.URL %>">
            <%= tool.NameWithOwner %></a>
        </h6>
        <p>
          <%= markdown(tool.Description.String) %>
        </p>
      </div>
    </div>
    
    <div class="topics">
      <%= topicLinks(tool.Topics) %>
    </div>
    
    <div>
      <div class="">
        <i class="fas fa-code-branch"></i>
        <%= tool.Forks %>
      </div>
      <div class="">
        <i class="fas fa-eye"></i>
        <%= tool.Watchers %>
      </div>
      <div class="">
        <i class="fas fa-star"></i>
        <%= tool.Stars %>
      </div>
    </div>
    </div>
  
  <div class="docs">
    <ul class="nav nav-tabs" id="repo-deets" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="readme-tab" data-toggle="tab" href="#readme" role="tab" aria-controls="readme"
          aria-selected="true">README</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="license-tab" data-toggle="tab" href="#license" role="tab" aria-controls="license"
          aria-selected="false">LICENSE</a>
      </li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="readme" role="tabpanel" aria-labelledby="readme-tab">
        <%= markdown(tool.Readme.String) %>
      </div>
      <div class="tab-pane" id="license" role="tabpanel" aria-labelledby="license-tab">
        <strong>License</strong>:
        <%= tool.License.Name %> -
        <em>
          <%= tool.License.Description.String %></em>
    
        <%= markdown(tool.License.Body.String) %>
      </div>
    </div>
  </div>
  

</div>
