<%= contentFor("indicator-bar") {} %>
<div class="about-content p-3 m-2 mt2 rounded border">
    <h1 id="whatisthebuffalotoolkit">What is the Buffalo Toolkit?</h1>
    
    <p>The Buffalo Toolkit watches services, such as GitHub, and looks for repositories with a tag of <code>gobuffalo</code>.
        All projects found will be indexed here.</p>
    
    <p>Inspired by the excellent <a href="https://www.ruby-toolbox.com">https://www.ruby-toolbox.com</a></p>
    
    <h1 id="howdoigetmypackagetooletclisted">How do I get my package, tool, etc... listed?</h1>
    
    <p>
        To get listed here you must tag your project on your hosting provider with <code>gobuffalo</code>. See details for
        the currently implemented discovery tools.
    </p>
    
    <h2 id="categorytags">Category Tags</h2>
    
    <p>
        There are a few more tags that you can use that will help the Buffalo Toolkit better categorize your project. You
        can add as many of this tags to your project as is suitable. Please try to refrain from using more than just a few
        tags.
    </p>
    
    <%= knownTagsHTML() %>
    
    <p>Any other tags will still be indexed and searchable, but the tool may not show in the "known" categories section.</p>
    
    <h1 id="currentlyimplementeddiscoverytools">Currently Implemented Discovery Tools</h1>
    
    <h2 id="github">GitHub</h2>
    
    <p>On GitHub you can use the "Topics" feature of your repository to tag your projects with <code>gobuffalo</code> and
        other category tags.</p>
    
    <h1 id="contributing">Contributing</h1>
    
    <p>Source for this project can be found at <a href="https://github.com/gobuffalo/toolkit">https://github.com/gobuffalo/toolkit</a>.</p>
    
</div>
