<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Toolkit</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      
      <%= partial("nav") %>
      <%= contentOf("indicator-bar") %>

      <div class="container" id="main">
        <%= partial("flash.html") %>
        <%= yield %>
      </div>
    </div>

    <%= partial("footer.html") %>
    <%= javascriptTag("application.js") %>
  </body>
</html>
